
  .body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #ff9a4b;
    height: 50px;
  }
  
  .div {
    display: block;
  }
  
  .main {
    display: flex;
    margin: 50px auto;
    width: 960px;
  }
  
  .steps {  
    width: 300px;
    margin-right: 30px;
    padding: 10px;
    position: relative;
    background-color: #eee;
  }
  
  .steps:last-child {
      margin-right: 0;
  }
  
  h3 {
    margin-top: 15px;
    margin-bottom: 5px;
  }
  
  .step1 {
    height: 150px;
    background-position: bottom;
    background-size: cover;
    background-image: url(flow01.png);
  }
  
  .step2 {
    height: 150px;
    background-position: bottom;
    background-size: cover;
    background-image: url(flow02.png);
  }
  
  .step3 {
    height: 150px;
    background-position: bottom;
    background-size: cover;
    background-image: url(flow03.png);
  }
  
  .step-num{
    top:0;
    left:0;
    position: absolute;
    background-color: #ff9a4b;
    color: #fff;
  }
  
  footer {
    background-color: #aaaaaa;
    height: 50px;
  }

@media screen and (max-width: 768px) {

.main {
  width: 100%;
  display: block;
  margin: 50px auto;
}
.steps {
  width: 90%;
  margin: 0 auto 20px ;
}
.steps:last-child {
  bottom: 0;
}
}